#the-post-list .row-actions .success a {
  color: #006505;
}
#the-post-list .row-actions .warning a {
  color: #d98500;
}
#the-post-list .row-actions .delete a,
#the-post-list .row-actions .danger a {
  color: #a00;
}
#the-post-list .row-actions .delete a:hover,
#the-post-list .row-actions .danger a:hover {
  color: #f00;
}
